{
  "printWidth": 160,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "requirePragma": false,
  "insertPragma": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "rangeStart": 0,
  "proseWrap": "preserve",
  "endOfLine": "lf"
}
